body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

ul.ulTopBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li.liTopBar {
    float: left;
}

li a.liTopBar {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover.liTopBar {
    background-color: #111111;
}